#nav {
  color: #000;
  background: #fff;
  font-weight: 500;
  padding-left: clamp(1rem, 4vw, 5rem);
  padding-right: clamp(1rem, 4vw, 5rem);
  z-index: 10;
}

.page-wrapper {
  overflow: hidden;
}

.inline-header-logo-container {
  float: left;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 2.1em;
}

.inline-header-logo {
  height: 1em;
  vertical-align: middle;
}

.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  flex-direction: column;
}
