<div class="master-detail-layout">

  <div class="sidebar">
    <h2>Locations</h2>

    <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: mapData }"></ng-container>

    <ng-template #nodeTemplate let-nodes>
      <div class="node-list">
        <div class="node-item" *ngFor="let node of nodes">

          <div
            class="node-content"
            [class.active]="selectedNodeId === node.id"
            (click)="selectNode(node, $event)">
            <h3>{{ node.title }}</h3>
            <p>{{ node.description }}</p>
          </div>

          <div class="node-children" *ngIf="node.children && node.children.length > 0">
            <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: node.children }"></ng-container>
          </div>

        </div>
      </div>
    </ng-template>
  </div>

  <div class="map-container">
    <mgl-map
      [style]="'mapbox://styles/mapbox/streets-v12'"
      [zoom]="mapZoom"
      [center]="mapCenter"
      [pitch]="[45]">

      <mgl-marker *ngFor="let marker of visibleMarkers" [lngLat]="marker.lngLat">
        <div class="custom-marker">
          <div class="marker-dot"></div>
          <span class="marker-label">{{ marker.title }}</span>
        </div>
      </mgl-marker>

    </mgl-map>
  </div>
</div>
