<div class="map-header">
  <header>
    <h2>
      <strong>
        Mapa Pienin
      </strong>
    </h2>
  </header>
</div>

<div class="master-detail-layout">

  <div class="sidebar-container">
    <div class="sidebar">
      <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: mapData }"></ng-container>
    </div>

    <div class="details-page" *ngIf="detailNode">
      <button class="close-btn" (click)="closeDetail()"><fa-icon [icon]="faChevronLeft" />Powrót</button>
      <div class="details-content">
        <img class="detail-image" [src]="detailNode.imgSrc ?? ''" alt=""/>
        <h1 class="detail-header">{{ detailNode.title }}</h1>
        <p class="description">{{ detailNode.description }}</p>
        <button class="details-button" (click)="Utils.navigate(detailNode.detailsLink, router)">
          Więcej<fa-icon [icon]="faArrowRight" class="button-right-arrow-icon" />
        </button>
      </div>
    </div>
  </div>

  <div class="map-container">
    <mgl-map
      #mapComponent
      [style]="'mapbox://styles/mapbox/outdoors-v12'"
      [zoom]="mapZoom"
      (load)="onMapLoad($event)"
      [pitch]="[0]">

      <mgl-marker
        *ngFor="let marker of visibleMarkers | filterNoLngLat"
        [lngLat]="marker.lngLat">
        <div class="custom-marker"
             (click)="onMarkerClick(marker)">
          <div class="marker-dot"></div>
          <!--          <span class="marker-label">{{ marker.title }}</span>-->
        </div>
      </mgl-marker>

    </mgl-map>
  </div>
</div>

<ng-template #nodeTemplate let-nodes>
  <div class="node-list">
    <div class="node-item" *ngFor="let node of nodes; trackBy: trackById">

      <div
        class="node-content"
        [class.active]="selectedNodeId === node.id"
        (click)="selectNode(node, $event)">

        <div class="header-row">
          <span class="arrow" *ngIf="node.children?.length" [class.rotated]="node.isExpanded">
            <fa-icon [icon]="faChevronRight" />
          </span>
          <h3>{{ node.title }}</h3>
        </div>
      </div>

      <div class="node-children" *ngIf="node.children?.length && node.isExpanded">
        <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: node.children }"></ng-container>
      </div>
    </div>
  </div>
</ng-template>
