.video-background {
  position: sticky;
  top: 0;
  height: 110vh;
}

.video-background-iframe {
  width: 195.5vh;
  height: 110vh;
  min-width: 100vw;
  min-height: 56.25vw;
  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-message-container {
  position: absolute;
  text-align: center;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.header-message {
  background: #ffffffe6;
  border-radius: 10px;
  padding: 32px;
  color: #000;
  top: 45%;
  transform: translateY(-50%);
  font-weight: 600;
}

.header-small-message {
  margin: 1em 0 0;
}

.page-wrapper {
  overflow: hidden;
}

@supports (animation-timeline: view()) {
  .fade-on-top {
    animation: fadeOut linear forwards;
    animation-duration: 1s;
    animation-range: entry 10% exit 10%;
    animation-timeline: view();
    opacity: 1;
  }
}

#nav {
  color: #000;
  background: #fff;
  font-weight: 500;
  position: unset;
}

#header {
  height: 175vh;
  position: relative;
}

@keyframes fadeOut {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
